.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.features ul li {
  list-style-type: none;
  margin-left: -1em;
}

.features a {
  color: var(--ifm-font-color-base);
}