/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8ca4b4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: var(--ifm-color-primary-lightest);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #768c9c;
  --docusaurus-highlighted-code-line-bg: var(--ifm-color-primary);
}

.hero__subtitle {
  display: inline;
}

.hero__image {
  height: 10rem;
}

.callout {
  font-size: 2em;
}

.prompt {
  font-weight: bold;
}

.api-doc-style:before {
  content: "";
  display: block;
  background: url("/images/package.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 7px;
  left: 7px;
  float: left;
  filter: invert(56%) sepia(1%) saturate(0%) hue-rotate(269deg) brightness(89%) contrast(94%);
}

.theme-code-block [data-theme='dark'] {
    border: 1px solid white;
}

.theme-code-block {
    border: 1px solid black;
}

.theme-doc-markdown img {
  box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
}

